<h1><%= collection.collectionName %> by <%= collection.owner.username %></h1>
<% collection.cards.forEach(card => { %>
    <ul>
        <li>
            <img src="<%= card.image %>" alt="<%= card.name %>" width="150" /> <br> 
            <%= card.name %> <br> ID: <%= card.cardId %> <br> Quantity: <%= card.quantity %> <br> Price: $<%= card.price %>
        </li>
    </ul>
<% }) %>
<form action="/cardCollections/<%= collection._id %>/comments" method="POST">
    <% if(user) { %>
        <textarea name="comment" placeholder="Leave a comment"></textarea>
        <br>
        <button type="submit">Post Comment</button>
    <% } else { %>
        <p>
            <a href="/auth/sign-in">Sign In </a>to leave a comment
        </p>
    <% } %>
</form>
<h3>Comments</h3>
<ul>
  <% collection.comments.forEach(comment => { %>
    <li>
      <strong><%= comment.author.username %></strong>:
      <%= comment.text %>
    </li>
  <% }) %>
</ul>